span.icons{height:104px; width:104px; display:block; position:relative;background:#0a9ef8;border-radius:50px;-webkit-border-radius:50px;-moz-border-radius:50px; }

.demoSpan1:before, .demoSpan1:after{content:''; height:4px; width:20px; display:block; background:#fff;  position:absolute; top:28px; left:20px;}

.demoSpan1:after{height:20px; width:4px; top:20px; left:28px;}

.voteSpan::before{
  content: '';
  display: inline-block;
  width: 34px; height: 34px;
  background: url(../img/icons.png) no-repeat;
  background-size: 220px;
  background-position: -148px 0;
  position: absolute;
  top: 13px; left: 13px;
}
