.ctn{
}
.ctn_1{
  display: none;
}
.opinion_title{
  margin-top: 10px;
  background-color: #1990ff;
  color: #fff;
}
.opinion_title .opinion_title_wrp{
  padding: 12px 0;
  margin: 0 5.2%;
}
.opinion_title .opinion_title_wrp p{
  font-size: 10pt;
  margin-bottom: 3px;
}
.opinion_title .opinion_title_wrp h2{
  font-size: 13pt;
  display: inline;
}
.opinion_title .opinion_title_wrp .date{
  float: right;
  font-size: 9pt;
}
.content .content_img{
  width: 94.8%; height: 220px;
  margin: 14px auto 18px;
  background: url(../img/opinion_1.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.content .content_txt{
  margin:0 5.2%;
}
.content .content_txt h3{
  font-size: 13pt;
  margin-bottom: 18px;
}
.content .content_txt h3::before{
  content: '';
  width: 8px; height: 8px;
  border-radius: 2px;
  display: inline-block;
  background-color: #1990ff;
  position: relative; top:  -2px;
  margin-right: 8px;
}
.content .content_txt p{
  font-size: 11pt;
}




.information{
  height: 110px;
  background-color: #f7f7f7;
}
.information > ul{
  /*display: flex;
  justify-content: space-between;*/
}
.information > ul > li{
  float: left;
  width: 50%; height: 110px;
  position: relative;
  display: inline-block;
}
.information > ul > li dl{
  position: absolute;
  width: 80%;
}
.information > ul > li:first-child dl{top: 20px; left: 16px;}
.information > ul > li:last-child dl{top: 20px; left: 16px;}
.information > ul > li dl dt{
  font-size: 12pt; font-weight: bold;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 8px;
}
.information > ul > li dl dd{float: left;}
.information > ul > li:first-child dl dd:nth-child(2){margin-left: -7px;}
.information > ul > li dl dd > ul{
  font-weight: bold;
  width: 30px;
  text-align: center;
}
.information > ul > li dl dd > ul > li:first-child{
  font-size: 10pt;
  margin: 10px 0 5px;
}
.information > ul > li dl dd > ul > li:last-child{
  font-size: 8pt;
}
.information > ul > li:first-child dl dd:not(:last-child) > ul > li:first-child::after{
  content: ':';
  position: relative;left: 7px;
}

.information > ul > li:last-child dl dd{
   margin-right: 5px;
   font-size: 8pt;
}
.information > ul > li:last-child dl dd:nth-child(2){
  font-size: 11pt; margin: 10px 0 5px;
}
.information > ul > li:last-child dl dd:nth-child(3){
  clear: both;
}
