html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,button,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,menu,select,legend{margin:0;padding:0}
li{list-style: none;}
a{text-decoration: none;}
.txt_dl{
  font-size: 0; color: transparent; text-indent: -9999px;}
body{
  letter-spacing: -1px;
}

#logo h1{
  width: 44px; height: 22px;
  margin: 15px auto;
  background: url(../img/logo_text_black.png) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.main_nav{
}
.main_nav_ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.main_nav_item{
  width: 12.5%;
  text-align: center;
}
.main_nav_item a{
  font-size: 13px;
}
.main_nav_item.select a{
  border-bottom: 4px solid #0a9ef8;
}
