html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,button,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,menu,select,legend{margin:0;padding:0}
li{list-style: none;}
a{text-decoration: none;}
.txt_dl{
  font-size: 0; color: transparent; text-indent: -9999px;}
body{
  letter-spacing: -1px;
}
