*{margin: 0; padding: 0;}

#logo{
}
#logo h1{
  width: 44px; height: 20px;
  margin: 15px auto;
  background: url(../img/logo_text_black.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.main_nav{
}
.main_nav_ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.main_nav_item{
  width: 12.5%;
  text-align: center;
}
.main_nav_item a{
  border-bottom: 1px solid #000;
}
