*{margin: 0; padding: 0;}

.main_nav{
}
.main_nav_ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.main_nav_item{
  width: 12.5%;
  text-align: center;
  border: 1px solid #000;
}
