.ctn{
  padding-top: 90px;
  height: 100%;
}
.ctn_ul{
  margin: 0 2.6%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ctn_ul_item{
  margin-top: 2.6%;
  width: 48.4%;
  height: auto;
  background-color: #ff1;
}
.ctn_ul_item.big{
  width: 100%;
}
.ctn_ul_item .newsimg {
  height: 110px;
  background-color: #3d3;
}
.ctn_ul_item.big .newsimg {
  height: 160px;
  background-color: #3d3;
}
.ctn_ul_item .ctn_dl{
  padding: 12px;
  display: block;
  h
}
.ctn_ul_item .ctn_dl dt{
  border: 1px solid #d3d;
  font-size: 10pt;
}
.ctn_ul_item .ctn_dl dd{
  border: 1px solid #3d3;
  font-size: 12pt; font-weight: bold;
}
