.ctn{
  background-color: #f7f7f7;
  height: 100%;
}
form{
  z-index: -1;
}
.search{width: 100%;margin: 31px 0; }
.sch-inp_wrap{
  display: block;
  width: 83%;
  height: 31px;
  margin: 0 auto;
  position: relative;
}
.sch-inp{
  text-indent: 17px;
  font-size: 10px;
  background-color: #fff;;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  display: inline-block;
  width: 100%;height: inherit;
  border-radius: 60px;
}
.sch-btn {
  border: none;
  opacity: 0.3;
  right: 21px; top: 1px;
  position: absolute;
  width: 24px; height: 24px;
  display: inline-block;
  background: url(../img/icons.png) no-repeat;
  background-size: 122px;
  background-position: 2px 4px;
}
.search_ctn_ul{}
.search_ctn_ul li{
  border-radius: 5px;
  margin: 0 2.6% 14px;
  background-color: #fff;
}
.search_ctn_ul > li > .list_img_select{
display: inline-block;
width: 100%;
}
.list_img_select{padding: 9px;}
.list_img{
  display: inline-block;
  max-width: 28%; max-height: 82%;
  float: left;
}
.search_ctn_ul li:first-of-type .list_img{
  background-size: cover;
  background-image: url(../img/index_6.jpg)
}
.search_ctn_ul_dl{
  padding: 9px 9px 9px 0;
  font-size: 12px; margin-left: 28px;
  display: inline-block;
}
.search_ctn_ul_dl dt{font-size: 12px; font-weight: bold;}
.search_ctn_ul_dl dd{color: #9f9f9f; font-size: 10px;margin-top: 10px;}
.search_ctn_ul_dl dd:nth-of-type(2){margin-top: 4px;}
.search_ctn_ul_dl dd > p{
  font-size: 10px; color: #9f9f9f;float: left;
}
.search_ctn_ul_dl dd > p::before{
  content: '';
  margin-right:4px;
  width: 8px; height: 8px;
  border-radius: 30px;
  display: inline-block;
  background-color: #5bacff;
}
.search_ctn_ul_dl dd > p::after{content: ':'; margin: 0 4px;}
.search_ctn_ul_dl dd:nth-of-type(2) > p::before{
  content: '';
  width: 8px; height: 8px;
  border-radius: 30px;
  display: inline-block;
  background-color: #ffd321;
}
