body{background-color: #f7f7f7;}
.get-box{
  display: block;
  margin: 0 15px;
}
.search{
  position: relative;
  height: 32px;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 16px;
  display: block;
}
.search_text{
  border: none;
  text-indent: 10px;
  width: 85%; height: 32px;
  border-radius: 50px;
}
.search_btn{
  position: absolute;
  border: none;
  opacity: 0.4;
  right: 21px;top: 5px; width: 20px; height: 20px;
  background: url(../img/icons.png) no-repeat;
  background-size: 126px;
}
.search_ctn_ul{margin: 0 2.6%;}
.search_ctn_ul li{
  position: relative;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 9px;
}
.list_img{
  width: 80px; height: 80px;
  display: inline-block;
  border-radius: 2px;
  background: url(../img/index_6.jpg) no-repeat;
  background-size: cover;
}
.search_ctn_ul li a dl{
  line-height: 14px;
  position: absolute;
  display: inline-block; margin: 10px 0 0 15px;
}
.search_ctn_ul li a dl dt{font-size: 11px; font-weight: bold;line-height: 20px;}
.search_ctn_ul li a dl dd{font-size: 10px; color: #9f9f9f;}
.search_ctn_ul li a dl dd p{display: inline-block;}
.search_ctn_ul li a dl dd p::before{
  content: '';
  width: 5px; height: 5px; margin-right: 3px;
  display: inline-block;
  background-color: #5bacff;
  border-radius: 10px;
}
.search_ctn_ul li a dl dd:last-of-type{line-height: 20px;}
.search_ctn_ul li a dl dd:nth-of-type(2) p::before{
  background-color: #ffd321;
}
.search_ctn_ul li a dl dd p::after{
  content: ':';
  margin: 0 3px;
}
.gauge_bar{
  top: 0; right: 0;
  position: absolute;
  margin-right: 10px;
}
.list_gauge{
  border-radius: 2px;
  width: 5px; height: 68px;
  display: inline-block; position: relative;
  right: 0; top: 16px;
}
.list_gauge, .list_gauge span{
  overflow:hidden;
}
.list_gauge_b{
  z-index: 1;
  display: inline-block;
  position: absolute;
  height: 100%; width: 5px;
  background-color: #099ef8;
}
.list_gauge_g{
  z-index: 2;
  display: inline-block;
  position: absolute;
  height: 60%; width: 5px;
  background-color: #acdc4f;
}
.list_gauge_y{
  z-index: 3;
  display: inline-block;
  position: absolute;
  height: 20%; width: 5px;
  background-color: #ffd321;
}
