<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>판판</title>
    <link rel="stylesheet" href="font/font.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/icons.css">
  </head>
  <body>
    <div id="logo">
      <h1 alt="로고" class="txt_dl">판판</h1>
    </div>
    <div class="opinion_nav">
      <ul class="opinion_nav_ul">
        <li><a href="#">토론주제</a></li>
        <li><a href="#">대표의견</a></li>
      </ul>
    </div>
    <div class="information">
      <ul class="informaion_ul">
        <li class="information_li">
          <dl class="informaton_dl">
            <dt>남은시간</dt>
            <dd>
              <ul class="inner_date">
                <li>01</li>
                <li>day</li>
              </ul>
            </dd>
            <dd>
              <ul class="inner_date">
                <li>11</li>
                <li>hour</li>
              </ul>
            </dd>
            <dd>
              <ul class="inner_date">
                <li>21</li>
                <li>min</li>
              </ul>
            </dd>
            <dd>
              <ul class="inner_date">
                <li>55</li>
                <li>sec</li>
              </ul>
            </dd>
          </dl>
        </li>

        <li class="information_li">
          <dl class="informaton_dl">
            <dt>참여인원</dt>
            <dd>피고 19명</dd>
            <dd>원고 24명</dd>
            <dd>배심원 3명</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="comment">
      <div class="comment_down">
        <div class="down">
          <div class="down_header">
            <h4></h4>
            <span class="close"></span>
          </div>
          <p>이에 수유실과 기저귀 교환대가 있고 엄마와 아이의 출입을<br/>
          환영하는 '노키즈존(No Kids Zone)'이 아닌<br/>
          웰컴키즈존(welcome Kids Zone)'이 그 대책이 될 수 있다는<br/>
          생각에 키즈맘에서는 먼저 수유실이 구비 된 용산의 반찬가게,<br/>
          부산 정관의 카페, 강남의 서점과 샐러드바를 찾아가 그들의 의견과<br/>
          경험에 대해 들어봤다.</p>
        </div>
        <div class="post_icon">
          <span class="icon_up"></span>
          <span class="icon_re"></span>
        </div>
      </div>
      <div class="cmment_header">
        <span>전체</span>
      </div>
      <ul class="comment_ul">
        <li>
          <a href="#"><span class="userimg"></span>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
          </a>
        </li>
        <li>
          <a href="#"><span class="userimg"></span>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
          </a>
        </li>
        <li>
          <a href="#"><span class="userimg"></span>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
          </a>
        </li>
        <li>
          <a href="#"><span class="userimg"></span>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
          </a>
        </li>
        <li>
          <a href="#"><span class="userimg"></span>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
          </a>
        </li>
        <li>
          <a href="#"><span class="userimg"></span>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
          </a>
        </li>
        <li>
          <a href="#"><span class="userimg"></span>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="underbox">
      <div class="underbar">
        <ul class="underbar_list">
          <li class="flex_left">
            <div class="under_item select"><a href="#"><span class="undericon"></span>홈</a></div>
            <div class="under_item"><a href="#"><span class="undericon"></span>재판찾기</a></div>
          </li>
          <li class="under_item middle">
            <span class="icons demoSpan1"></span>
          </li>
          <li class="flex_right">
            <div class="under_item"><a href="#"><span class="undericon"></span>마이페이지</a></div>
            <div class="under_item"><a href="#"><span class="undericon"></span>판판광장</a></div>
          </li>
        </ul>
      </div>
    </div>



    <script src="js/common.js"></script>

  </body>
</html>
