<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>판판</title>
    <link rel="stylesheet" href="font/font.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div id="logo">
      <h1 alt="로고" class="txt_dl">판판</h1>
    </div>
    <div class="opinion_nav">
      <ul class="opinion_nav_ul">
        <li><a href="#">토론주제</a></li>
        <li><a href="#">대표의견</a></li>
      </ul>
    </div>
    <div class="information">
      <ul class="informaion_ul">
        <li class="information_li">
          <dl class="informaton_dl">
            <dt>남은시간</dt>
            <dd>
              <ul class="inner_date">
                <li>01</li>
                <li>day</li>
              </ul>
            </dd>
            <dd>
              <ul class="inner_date">
                <li>11</li>
                <li>hour</li>
              </ul>
            </dd>
            <dd>
              <ul class="inner_date">
                <li>21</li>
                <li>min</li>
              </ul>
            </dd>
            <dd>
              <ul class="inner_date">
                <li>55</li>
                <li>sec</li>
              </ul>
            </dd>
          </dl>
        </li>

        <li class="information_li">
          <dl class="informaton_dl">
            <dt>참여인원</dt>
            <dd>피고 19명</dd>
            <dd>원고 24명</dd>
            <dd>배심원 3명</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="comment">
      <div class="comment_content"></div>
      <span>전체</span>
      <ul class="comment_ul">
        <li>
          <a href="#"><span class="userimg"></span></a>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
        </li>
        <li>
          <a href="#"><span class="userimg"></span></a>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
        </li>
        <li>
          <a href="#"><span class="userimg"></span></a>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
        </li>
        <li>
          <a href="#"><span class="userimg"></span></a>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
        </li>
        <li>
          <a href="#"><span class="userimg"></span></a>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
        </li>
        <li>
          <a href="#"><span class="userimg"></span></a>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
        </li>
        <li>
          <a href="#"><span class="userimg"></span></a>
          <div class="text">
            <p class="usersay">노세이프존은 구시대적 발상입니다</p>
            <p class="username">panda022</p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
