<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>판판</title>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/icons.css">
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <div class="logo">
    <h1 alt="로고" class="txt_dl">판판</h1>
  </div>
  <div class="main_nav">
    <ul class="main_nav_ul">
      <li class="main_nav_item"><a href="#">종합</a></li>
      <li class="main_nav_item"><a href="#">정치</a></li>
      <li class="main_nav_item"><a href="#">경제</a></li>
      <li class="main_nav_item"><a href="#">사회</a></li>
      <li class="main_nav_item"><a href="#">문화</a></li>
      <li class="main_nav_item"><a href="#">세계</a></li>
      <li class="main_nav_item"><a href="#">it&#47;과학</a></li>
      <li class="main_nav_item"><a href="#">철학</a></li>
    </ul>
  </div>
  <div class="container">
    <ul class="container_ul">
      <li class="big_item">
        <a href="#"><div class="newsimg"></div></a>
          <dl class="container_dl">
            <dd>사회&#47;문화</dd>
            <dd><a href="#">어린아이들의 스마트기기 사용이 과연 이로울까</a></dd>
          </dl>
        </a>
      </li>
      <li>
        <a href="#"><div class="newsimg"></div></a>
          <dl class="container_dl">
            <dd>사회&#47;문화</dd>
            <dd><a href="#">유기견 죽여야만 하나요</a></dd>
          </dl>
      </li>
      <li>
        <a href="#"><div class="newsimg"></div></a>
        <dl class="container_dl">
          <dd>세계</dd>
          <dd><a href="#">북극의 눈물, 이젠 그만</a></dd>
        </dl>
      </li>
      <li>
        <a href="#"><div class="newsimg"></div></a>
        <dl class="container_dl">
          <dd>사회&#47;문화</dd>
          <dd><a href="#">어린아이들의 스마트기기 사용이 과연 이로울까</a></dd>
        </dl>
      </li>
      <li>
        <a href="#"><div class="newsimg"></div></a>
        <dl class="container_dl">
          <dd>사회&#47;문화</dd>
          <dd><a href="#">어린아이들의 스마트기기 사용이 과연 이로울까</a></dd>
        </dl>
      </li>
  </div>
  <div class="underbar">
    <div class="underbar_plus">
      <span class="demoSpan1"></span>
    </div>
    <ul class="underbar_list">
      <li class="flex_left">
        <a href="#">
          <span class="underbar_text">홈</span>
        </a>
      </li>
      <li class="flex_left">
        <a href="#">
          <span class="underbar_text">재판찾기</span>
        </a>
      </li>
      <li class="flex_right">
        <a href="#">
          <span class="underbar_text">판판광장</span>
        </a>
      </li>
      <li class="flex_right">
        <a href="#">
          <span class="underbar_text">마이페이지</span>
        </a>
      </li>
    </ul>
  </div>
</body>

</html>
