<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>판판</title>
  <link rel="stylesheet" href="font/font.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/icons.css">
  <link rel="stylesheet" href="css/index.css">
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/easetype.js"></script>

  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

</head>

<body>
  <div class="fixwrp">
    <div id="logo">
      <h1 alt="로고" class="txt_dl">판판</h1>
    </div>
    <div class="main_nav">
      <ul class="main_nav_ul">
        <li class="main_nav_item select"><a href="#">종합</a></li>
        <li class="main_nav_item"><a href="#">정치</a></li>
        <li class="main_nav_item"><a href="#">경제</a></li>
        <li class="main_nav_item"><a href="#">사회</a></li>
        <li class="main_nav_item"><a href="#">문화</a></li>
        <li class="main_nav_item"><a href="#">세계</a></li>
        <li class="main_nav_item"><a href="#">it&#47;과학</a></li>
        <li class="main_nav_item"><a href="#">철학</a></li>
        <!-- <li class="main_nav_item"><a href="#">생활</a></li> -->
      </ul>
      <span class="fixnav_bar">
      </span>
    </div>
  </div>
  <div class="ctn">
    <ul class="ctn_ul">
      <li class="ctn_ul_item big">
      <div class="newsimg"><a href="#"></a></div>
          <dl class="ctn_dl">
            <dt>사회&#47;문화</dt>
            <dd><a href="#">어린아이들의 스마트기기 사용이 과연 이로울까</a></dd>
          </dl>
        </a>
      </li>
      <li class="ctn_ul_item">
        <div class="newsimg"><a href="#"></a></div>
          <dl class="ctn_dl">
            <dt>사회&#47;문화</dt>
            <dd><a href="#">유기견 죽여야만 하나요</a></dd>
          </dl>
      </li>
      <li class="ctn_ul_item">
        <div class="newsimg"><a href="#"></a></div>
        <dl class="ctn_dl">
          <dt>세계</dt>
          <dd><a href="#">북극의 눈물, 이젠 그만</a></dd>
        </dl>
      </li>
      <li class="ctn_ul_item">
        <div class="newsimg"><a href="#"></a></div>
        <dl class="ctn_dl">
          <dt>사회&#47;문화</dt>
          <dd><a href="#">유기견 죽여야만 하나요</a></dd>
        </dl>
      </li>
      <li class="ctn_ul_item">
        <div class="newsimg"><a href="#"></a></div>
        <dl class="ctn_dl">
          <dt>사회&#47;문화</dt>
          <dd><a href="#">유기견 죽여야만 하나요</a></dd>
        </dl>
      </li>
  </div>

  <div class="underbox">
    <div class="underbar">
      <ul class="underbar_list">
        <li class="flex_left">
          <div class="under_item select"><a href="#"><span class="undericon"></span>홈</a></div>
          <div class="under_item"><a href="#"><span class="undericon"></span>재판찾기</a></div>
        </li>
        <li class="under_item middle">
          <span class="icons demoSpan1"></span>
        </li>
        <li class="flex_right">
          <div class="under_item"><a href="#"><span class="undericon"></span>마이페이지</a></div>
          <div class="under_item"><a href="#"><span class="undericon"></span>판판광장</a></div>
        </li>
      </ul>
    </div>
  </div>

<script src="js/common.js"></script>
<script type="text/javascript">
(function($){
$(document).ready(function(){

});//doc
})(jQuery);
</script>
</body>

</html>
