<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>판판</title>
    <link rel="stylesheet" href="font/font.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div id="logo">
      <h1 alt="로고" class="txt_dl">판판</h1>
    </div>
    <div class="opinion_nav">
      <ul class="opinion_nav_ul">
        <li><a href="#">토론주제</a></li>
        <li><a href="#">대표의견</a></li>
      </ul>
    </div>
    <div class="opinion_title">
      <p>노키즈존</p>
      <h2>애엄마의 입장이 되보셨나요?</h2>
      <span class="date">18.10.15 (일) 13:00</span>
    </div>
    <div class="content">
      <div class="content_img"></div>
      <h3>사회가 바라보는 노키즈존</h3>
      <p>올해의 유행은 '노키즈존(No Kids Zone)'이라고 해도 과언이<br/>
        아닐 것이다. 노키즈존은 말 그대로 아이들의 출입자체를<br/>

        거부하는 가게들을 일컫는 단어로 몇 년 전부터<br/>
        조금씩 퍼지던 노키즈존은 이제는 하나의 사회현상이 돼버렸다.
        <br/>
        <br/>"밥 먹는 식탁에서 기저귀를 간다"<br/>
        "대변이 담긴 기저귀를 가게에 두고 간다"<br/>
        "아이가 시끄럽게 떠들고 운다"<br/>

        <br/>인터넷에 올라와 있는 대표적인 '노키즈존'을 만든 사례들이다.<br/>
        그 이전에 엄마가 아이를 데리고 다니는 것만으로도 오해 받는<br/>
        이 사회에서 과연 '노키즈존'은 누가 만들어낸 것일지 물음을<br/>
        던져봐야 한다.</p>
    </div>
    <div class="underbar">
      <div class="underbar_plus">
        <span class="demoSpan1"></span>
      </div>
      <div class="underbox">
        <div class="select">
          <div class="select_title"></div>
          <p>한번 선택한 의견은<b>선택변경 불가</b>하니 유의하여 선택해주세요.</p>
          <ul class="team_select">
            <li>원고</li>
            <li>피고</li>
            <li>배심원</li>
          </ul>
        </div>
        <ul class="underbar_list">
          <li class="flex_left">
            <a href="#">
              <span class="underbar_text">홈</span>
            </a>
          </li>
          <li class="flex_left">
            <a href="#">
              <span class="underbar_text">재판찾기</span>
            </a>
          </li>
          <li class="flex_right">
            <a href="#">
              <span class="underbar_text">판판광장</span>
            </a>
          </li>
          <li class="flex_right">
            <a href="#">
              <span class="underbar_text">마이페이지</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
