<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>판판</title>
    <link rel="stylesheet" href="font/font.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div id="logo">
      <h1 alt="로고" class="txt_dl">판판</h1>
    </div>
    <div class="opinion_nav">
      <ul class="opinion_nav_ul">
        <li><a href="#">원고측 게시판</a></li>
        <li><a href="#">원고 대표의견</a></li>
        <div class="information">
          <ul class="informaion_ul">
            <li class="information_li">
              <dl class="informaton_dl">
                <dt>남은시간</dt>
                <dd>
                  <ul class="inner_date">
                    <li>01</li>
                    <li>day</li>
                  </ul>
                </dd>
                <dd>
                  <ul class="inner_date">
                    <li>11</li>
                    <li>hour</li>
                  </ul>
                </dd>
                <dd>
                  <ul class="inner_date">
                    <li>21</li>
                    <li>min</li>
                  </ul>
                </dd>
                <dd>
                  <ul class="inner_date">
                    <li>55</li>
                    <li>sec</li>
                  </ul>
                </dd>
              </dl>
            </li>

            <li class="information_li">
              <dl class="informaton_dl">
                <dt>참여인원</dt>
                <dd>피고 19명</dd>
                <dd>원고 24명</dd>
                <dd>배심원 3명</dd>
              </dl>
            </li>
          </ul>
        </div>
      </ul>
    </div>
      <div class="cmment_header">
        <span>전체</span>
        <span>글쓰기</span>
      </div>
      <div class="plaintiff_content">
        <ul class="plaintiff_content_ul">
          <li>
            <a href="#">
              <span class="userimg"></span>
              <div class="text">
                <p class="usersay">노세이프존은 구시대적 발상입니다</p>
                <p class="username">panda022</p>
                <p>역시대적 발상인 노키즈존은 없어져야한다고 생각합니다.아이들이 시끄러운건 당연한거 아닌가요?</p>
                <div class="post_icon">
                  <span class="icon_up"></span>
                  <span class="icon_re"></span>
                  <span class="time_check">3시간 전</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="plaintiff_content">
        <ul class="plaintiff_content_ul">
          <li>
            <a href="#">
              <span class="userimg"></span>
              <div class="text">
                <p class="usersay">노세이프존은 구시대적 발상입니다</p>
                <p class="username">panda022</p>
                <p>역시대적 발상인 노키즈존은 없어져야한다고 생각합니다.아이들이 시끄러운건 당연한거 아닌가요?</p>
                <div class="post_icon">
                  <span class="icon_up"></span>
                  <span class="icon_re"></span>
                  <span class="time_check">3시간 전</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="plaintiff_content">
        <ul class="plaintiff_content_ul">
          <li>
            <a href="#">
              <span class="userimg"></span>
              <div class="text">
                <p class="usersay">노세이프존은 구시대적 발상입니다</p>
                <p class="username">panda022</p>
                <p>역시대적 발상인 노키즈존은 없어져야한다고 생각합니다.아이들이 시끄러운건 당연한거 아닌가요?</p>
                <div class="post_icon">
                  <span class="icon_up"></span>
                  <span class="icon_re"></span>
                  <span class="time_check">3시간 전</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="underbox_2">
        <div class="chat">
          <div class="chat_header">
            <ul class="chat_header_ul">
              <li>차단</li>
              <li>실시간 채팅</li>
              <li>3명 접속</li>
            </ul>
          </div>
          <div class="mincwrp">
            <ul class="chatbox">

            </ul>
            <div class="sendbox">
              <div class="user_id">cocacola213</div>
              <div class="text_area mincwrp">
                <textarea name="" id="usersay" cols="50" rows="5" placeholder="욕설과 타인 비방은 서비스 이용에 제재를 받을 수 있습니다."></textarea>
                <input id="chat_submit" type="submit" value="보내기">
              </div>
            </div>
          </div>
        </div>
        <ul class="underbar_list">
          <li class="flex_left">
            <a href="#">
              <span class="underbar_text">홈</span>
            </a>
          </li>
          <li class="flex_left">
            <a href="#">
              <span class="underbar_text">재판찾기</span>
            </a>
          </li>
          <li class="flex_right">
            <a href="#">
              <span class="underbar_text">판판광장</span>
            </a>
          </li>
          <li class="flex_right">
            <a href="#">
              <span class="underbar_text">마이페이지</span>
            </a>
          </li>
        </ul>
      </div>
  </body>
</html>
