<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>판판</title>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/icons.css">
  <link rel="stylesheet" href="css/index.css">
</head>
  <body>
    <div id="logo">
      <h1 alt="로고" class="txt_dl">판판</h1>
    </div>
    <div class="main_nav">
      <ul class="main_nav_ul">
        <li class="main_nav_item"><a href="#">종합</a></li>
        <li class="main_nav_item"><a href="#">정치</a></li>
        <li class="main_nav_item"><a href="#">경제</a></li>
        <li class="main_nav_item"><a href="#">사회</a></li>
        <li class="main_nav_item"><a href="#">문화</a></li>
        <li class="main_nav_item"><a href="#">세계</a></li>
        <li class="main_nav_item"><a href="#">it&#47;과학</a></li>
        <li class="main_nav_item"><a href="#">철학</a></li>
      </ul>
    </div>
    <form action="get">
      <div class="search">
        <input type="text"><input type="submit" value="">
      </div>
    </form>
  </body>
</html>
